.boton{
    width: 90%;
    height: 20%;
    background:#000;
    color: #fff;
    border-color:rgb(0, 255, 128);
    font-weight: bold; 
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.boton:hover{
    cursor: pointer;
    color: #000;
    background: #fff;
    border-color: gold;
}
body{
    /*estilo de fondo*/
background-color: #d7d7e6;
opacity: 1000;
background-image:  linear-gradient(135deg, #252525 1%, transparent 1%), linear-gradient(225deg, #252525 1%, transparent 1%), linear-gradient(45deg, #252525 1%, transparent 1%), linear-gradient(315deg, #252525 1%, #f4f4f6 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;
font-family: Georgia;

}
h1{
    background: darkgrey;
    width:75%;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
}

h2{
    background:darkgrey;
    width:90%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 1.6em;
}
