*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    background-image: url(aa.jpg);
    
}
.form-register{
    width: 450px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Times New Roman';
    color:white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align:center;
}
.form-register h1{
    font-size: 18px;
    margin-bottom: 10px;
    color:rgb(173,180,170);
    font-family: 'Times New Roman';
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family:Georgia;
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align:center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: khaki;
    text-decoration: none;
}

.form-register a:hover{
    color: khaki;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background:#1f53c5;
    border: none;
    padding: 12px;
    color: khaki;
    margin: 16px 0;
    font-size: 16px;
}