/* ESTILOS DE LA PORTADA */
    body {

        font-family:Arial, Helvetica, sans-serif
    }
        .header{
                width: 100%;
                height: 49px;
                background-color: gray;
            
        }
        /*listado del menu */
        .lista {
            background-repeat: no-repeat;
            align-items: center;
        }
            .lista li {
                display: inline-block;
                text-align: center;
                background-position-x: center;
            }

        .lista li a:hover{
            background-color: white;
            
        }
        .Menu-principal {
            text-decoration: none;
            color:black;
            padding: 15px;
            display: block;
            font-weight:  bolder;

        }


/* ESTILOS DEL FORMULARIO */

*    {
    box-sizing: border-box;
}
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url(fondo.jpg);
    }

    main {
        max-width: 800px;
        width: 90%;
        margin: auto;
        padding: 40px;

    }
    .formulario_titulo{
        width: 60%;
        margin: 0 auto;
        background-image: url(/img1.png)no-repeat 0px 0px;
        background-size: cover;
        background-position: center;
        padding: 30px 33px 67px;
        border-top: 6px solid #000;
        background-color: darkgrey;
    }
    .buscador {
        text-align: left;
        padding-right: 100%;
    }

    /*.formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    */
    .formulario_label {
        display: block;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
    }
    .formulario_grupo-input{
        position: relative;

    }
    .formulario_input{
        width: 100%;
        background-color: azure;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px ;
        transform: .3s ease all;
    }
    .formulario_input:focus{
        border:3px solid rgb(100, 237, 134);
        outline: none;
        box-shadow: 3px opx 30px rgba(163, 163, 163, 0.4); 
    }
    .formulario_input-error{
        font-size: 12px;
        margin-bottom: 0px;
        display: none;
    }
    .formulario_input-error-activo{
        display: block;
    }
    .formulario_validacion-estado{
        position: absolute;
        right: 10px;
        bottom: 15px;
        z-index: 100;
        font-size: 16px;
        opacity: 0;
    }
    .formulario_checkbox{
        margin-right: 10px
    }
    .formulario_grupo-terminos,
    .formulario_mensaje,
    .formulario_grupo-btn-enviar{
        grid-column: span 2;
    }

    .formulario_mensaje {
        height: 45px;
        line-height: 45px; 
        background: #e70e19;
        padding: 0 15px;
        border-radius: 3px;
        display: none;
    }
    .formulario_mensaje-activo{
        display: block;  
    }
    .formulario_mensaje p{
        margin: 0;
    }
    .formulario_grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .formulario_btn{
        height: 45px;
        line-height: 45px;
        width: 30%;
        background: rgb(7, 22, 20);
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: .1s ease all;
    }
    .button {
        text-decoration: none;
        color: white;
        padding: 15px;
        display: block;
        font-weight:  bolder;

    }
    .formulario_btn:hover{
        box-shadow: 3px 0px 30px rgb(196, 10, 134);
    }
    .formulario_mensaje-exito{
        font-size: 14px;
        color: #119200;
        display: none;

    }
    .formulario_mensaje-exito-activo{
        display: block;
    }
    .formulario_grupo-correcto 
    .formulario_validacion-estado{
    color: #1ed12d;
    opacity: 1;
    }
    .formulario_grupo-incorrecto
    .formulario_label{
    color: #db2929;
    }
    .formulario_grupo-incorrecto
    .formulario_validacion-estado{
        color: #bb2929;
        opacity: 1;
    }
    .formulario_grupo-incorrecto
    .formulario_input{
        border: 3px solid #bb2929;
    }

/* ESTILO DE INICIO DE SECIOn */
.formulario_btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    color: #fff;
    font-weight: bold;
    border: none;
}