
body{
    background: #ddd;
    font-family: monospace;
}

.contenedor{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50 px;
}

.tabla_titulo{
    grid-column-start: 1;
    grid-column-end: 5;
    
    background: rgba(40,65,120, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}


.tabla_subtitulos, .tabla_datos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla_subtitulos{
    font-weight: bold;
    font-size: 1.5em;
}

.tabla_datos{
    padding: 10px;
    font-size: 1.2em;
}
