/*resetear los estilos*/

*{
    margin: 0;
    padding: 0;
}

body{
/*estilo de fondo*/
background-color: #d7d7e6;
opacity: 1000;
background-image:  linear-gradient(135deg, #252525 1%, transparent 1%), linear-gradient(225deg, #252525 1%, transparent 1%), linear-gradient(45deg, #252525 1%, transparent 1%), linear-gradient(315deg, #252525 1%, #f4f4f6 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;
/*tipo de letra*/
font-family: 'Pattaya', sans-serif;
}

/*header*/
.titulo h1{
padding: 20px 0;
text-align: center;/*centrar*/
font-size: 2,9em; /*crezca el texto*/
text-transform: uppercase; 
}

.contenedor {
    background: #fff; /*fondo*/
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto; /*centro*/

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}
/*separar los contenedores los contenedores*/

.contenedor > .sub,
.contenedor > .contenido,
.contenedor > .segundo,
.contenedor > .footer,
.contenedor > div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}
/*el contenido esta completo*/

.contenedor .sub,
.contenedor .footer{
    grid-column: 1/6;

    background: #1e271e;
    color: #fff;
}

/*el recuadro del contenido ocupa 3*/

.contenedor >.contenido{
    grid-column: span 3;
}

.contenido > .articulo{
    background: #808e9b ;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.contenido .articulo h1,
.contenido .articulo p{
    padding: 10px;
}

/*ocupada el segundo recuadro 2 */

.contenedor > .segundo{
    grid-column: span 2;
    background:khaki;
    color: #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contenedor .segundo img{
    width: 100%;
    margin-top: 5px;

}

.contenedor > .post{
    background: #2d3436;
    color: #ffff;
    height: 180px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.contenedor > .post:hover{
    cursor: pointer;
    color: #000000;
    background: #ffff;

}

@media screen and (max-width: 768px){
    .header {
        text-align: center;
    }

   .contenedor .contenido{
        grid-column: 1/-1;
    }


    .contenedor .segundo{
        grid-column: 1/-1;
    }
    
    .contenedor .post{
        grid-column: 1/-1;
    }

}
