/*resetear los estilos*/

*{
    margin: 0;
    padding: 0;
}

body{
/*estilo de fondo*/

/*tipo de letra*/
font-family: Tahoma;
}



.contenedor {
    background: #defde9; /*fondo*/
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto; /*centro*/

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}
/*separar los contenedores los contenedores*/

.contenedor > .sub,
.contenedor > .contenido,
.contenedor > .segundo,
.contenedor > .footer    {
    background: #defde9;
    padding: 20px;
}
/*el contenido esta completo*/

.contenedor .sub,
.contenedor .mm,
.contenedor .footer
{
    grid-column: 1/6;
    background: #1e271e;
    color: #fff;
    text-align: center;
}
.contenedor .sube
{
    grid-column: 1/6;
    background: #1e271e;
    color: #fff;
    text-align: center;
}
.footer h4{
    text-align: left;
    font-family:Georgia;
}

.footer p{
    text-align:right;
    font-family:fantasy ;
}

.contenedor .mm
{
    grid-column: 1/6;
    background: #78cf95;
    color: #000;
    margin: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.contenedor .e
{
    grid-column: 1/6;
    display: flex ;
    gap: 0,5em;
    background:#defde9;
    color: #fff;
    flex-direction: column;

}
/*el recuadro del contenido ocupa 3*/

.contenedor >.contenido{
    grid-column: span 4;
    
}

.contenido > .articulo{
    background: #78cf95 ;
    padding: 20px;
    margin-top: 5px;
    color: #101111;
}

.contenido .articulo h1,
.contenido .articulo p{
    padding: 10px;
}

.contenido .articulo p{
   text-align: center;
   font-weight: bold;
   
}
/*ocupada el segundo recuadro 2 */

.contenedor > .segundo{
    grid-column: span 1;
    background:#78cf95;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contenedor .segundo img{
    width: 100%;
    margin-top: 5px;

}

.contenedor > .post{ 
    
    background: #78cf95;
    color: #000000;
    height: 75px;
    font-weight: bold;
    padding: auto;
    text-align: center;
    text-justify: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.contenedor > .post:hover{
    cursor: pointer;
    color: #000000;
    background: #ffff;

}

@media screen and (max-width: 768px){
    .header {
        text-align: center;
    }

   .contenedor .contenido{
        grid-column: 1/-1;
    }


    .contenedor .segundo{
        grid-column: 1/-1;
    }
    
    .contenedor .post{
        grid-column: 1/-1;
    }
    .contenedor .e{
        grid-column: 1/-1;
    }

}