.contenedor .titulo{
    grid-column: 1/3;

    background: #000;
    color: #fff;

}
h2{
	background-color: #000 ;
	text-align: center;/*Centrado del titulo*/
	padding: 10px;
}
h5{
    text-align: center;
}
.contenedor {
    
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto; /*centro*/
    background: #808e9b ;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(2,1fr);/*colocar las columnas */
}
.con{
    grid-column: span 2;
    background:khaki;
    color: #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
body
{
        /*estilo de fondo*/
        background-color: #d7d7e6;
        opacity: 1000;
        background-image:  linear-gradient(135deg, #252525 1%, transparent 1%), linear-gradient(225deg, #252525 1%, transparent 1%), linear-gradient(45deg, #252525 1%, transparent 1%), linear-gradient(315deg, #252525 1%, #f4f4f6 25%);
        background-position:  10px 0, 10px 0, 0 0, 0 0;
        background-size: 10px 10px;
        background-repeat: repeat;
        /*tipo de letra*/
        font-family: 'Pattaya';
        
}
blockquote{
	line-height: 25px; 
	padding:8px;
	margin:100px ;
	margin-left: 250px;
}
button{
    font-weight: bold;
}